all drugs <br>
- table (columns ; target name, associated drug (name)) <p>
<a href="http://localhost/Symfony2/web/app_dev.php/phenomedrug/">Return to homepage</a> <p>
<a href="http://localhost/Symfony2/web/app_dev.php/phenomedrug/drugs">All drugs</a> <p>

{{results}}
