<a href="http://localhost/Symfony2/web/app_dev.php/phenomedrug/targets">All targets</a> <p>
<a href="http://localhost/Symfony2/web/app_dev.php/phenomedrug/drugs">All drugs</a> <p>
<a href="http://localhost/Symfony2/web/app_dev.php/phenomedrug/test">Test page</a> <p>

